/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Voltaire&display=swap');

body {
    background-color: #265198;
    color: #fff;
}

/* HEADINGS */

h1 {
    font-family: "Voltaire", sans-serif;
    font-size: 6em;
    text-transform: uppercase;;
}

/* MODAL */ 

.modal-title {
    text-align: center;
}
.modal-dialog {
    color: #111;
}
/* COLORS */

.btn-yellow {
    background-color: #FFE74C;
}

.btn-mintchoc {
    background-color: #17B890;
}

.btn-orange {
    background-color: #FF8811;
}

.btn-red {
    background-color: #C83E4D;
}

/* UTILITY */ 

.uppercase {
    text-transform: uppercase;
}

.smooth-shadow {
    text-shadow: 1px 3px 15px #2c2c2c;
}

.bold-text {
    font-weight: bold;
}

.btn-shadow {
    box-shadow: 1px 3px 15px #2c2c2c;
}